<h1>New Project</h1>
<hr>
<div class="sign">
	<%= form_for :project, url: projects_path do |f| %>
	  <p><%= f.hidden_field :user_id, :value =>1 %></p>
	  <p>
	    <%= f.label :title %><br>
	    <%= f.text_field :title %>
	  </p>
	 
	  <p>
	    <%= f.label :pitch %><br>
	    <%= f.text_area :pitch %>
	  </p>
	 
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
</div>