<!DOCTYPE html>
<html>
	<head>
	  <title>MyHub</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	    <nav class="navbar navbar-fixed-bottom " role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">
		          <span class="glyphicon-class"></span>
		          MyHub
	          </a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse navbar-ex1-collapse">
	          <ul class="nav navbar-nav">
	            <li><%= link_to "Projects", projects_path, :class => 'navbar-link'  %></li>
	            <li><a href="#services">Services</a></li>
	            <li><a href="#contact">Contact</a></li>
	            <% if user_signed_in? %>
		          	<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
					<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav>
	    <div class="container">
	    	<a href="/"><h1>My Hub</h1></a>
	    	<% if user_signed_in? %>
				<p>Logged in as <strong><%= current_user.email %></strong>.</p>
			<% end %>
	    	<% if @projects %>
	    		<h4 class="pull-right">You Have <%= @projects.length %> Project(s)</h4>
			<% end %>	    	
	    </div>
	    <div class="container">
	    	<p class="notice"><%= notice %></p>
		    <p class="alert"><%= alert %></p>
	      	
	        <div ><%= yield %>
	      	</div>
	    </div>
	</body>
</html>
